 
    server {
        listen 80 default_server;
        listen [::]:80 default_server;

        root /usr/share/nginx/html;

        client_max_body_size 10G;

        server_name _;

        location / {
            try_files $uri /index.html;
        }

        location /api/ {
            rewrite ^/api/(.*) /$1 break;
            proxy_pass ${BACK_REF};
        }

        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;
    }
